/* html {
    scrollbar-gutter: auto | stable && both-edges?;
} */

body {
    margin: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    background-color: #F6595A;
    box-sizing: border-box;
}

.navbar img {
    width: 30px;
    margin-right: 10px;
}

.navbar p {
    color: white;
    font-family: Montserrat;
    font-weight: 600;
}

/* card styles */

.cardsContainer {
    margin-top: 20px;
}

.card {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bbbbbb55;
    display: flex;
    font-family: Montserrat;
    width: 75%;
}

.imageOfLocation {
    height: 275px;
    width: 210px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.25s;
}

.imageOfLocation:hover {
    transform: scale(1.1);
}

.cardInfo {
    margin-left: 20px;
    padding-top: 20px;
    width: 100%;
}

.locationMarker {
    width: 12px;
    margin-right: 5px;
}

.cardLocation * {
    display: inline;
}

.cardLocation h4 {
    font-weight: 600;
    font-size: 0.9rem;
    position: relative;
    bottom: 1px;
    text-transform: uppercase;
    color: #757575;
}

.cardLocation a {
    font-size: 0.75rem;
    position: relative;
    bottom: 2px;
    color: #aaaaaa;
    margin-left: 15px;
}

.cardInfo h1 {
    margin-top: 5px;
    letter-spacing: -1.5px;
}

.cardInfo h3 {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.cardInfo p {
    margin-top: 0px;
    font-size: 0.8rem;
    letter-spacing: -0.4px;
}

/* add item form and button styles  */

.addItemFormContainer {
    padding: 30px;
}

.addItemForm {
    margin: auto;
    width: fit-content;
}

.addItemButton {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url('../public/images/addButton.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.allButSubmit {
    margin: auto;
    text-align: left;
    display: flex;
    width: fit-content;
    font-family: Montserrat;
}

.provinceLabel, .cityLabel, .descLabel {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.descLabel {
    margin-left: 20px;
}

.addItemForm input:not(.addCityButton), textarea {
    margin-top: 3px;
    padding: 8px;
    font-family: Montserrat;
    font-size: 18px;
    border: 1px solid #bbbbbb;
    border-radius: 8px;
    background-color: #fafafa;
}

.addItemForm input:focus, textarea:focus {
    outline: none;
    background-color: white;
}

.addItemForm textarea {
    height: 100%;
}

.addCityButton {
    width: 100%;
    margin-top: 3px;
    padding: 8px;
    font-family: Montserrat;
    font-size: 18px;
    border: 1px solid #bbbbbb;
    border-radius: 8px;
    background: linear-gradient(90deg, #f97979 1.18%, #f83b3b 100%);
    color: white;
    transition: transform 0.25s;
}

.addCityButton:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.addCityButtonContainer {
    margin-top: 10px;
}

 /* scrollbar styles */

/* ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
} 

::-webkit-scrollbar {
    background: none;
    background-clip: content-box;
} */

/* different screen sizes */

@media (max-width: 768px) {
    .imageOfLocation {
        height: 250px;
        width: 175px;
    }

    .card {
        width: 85%;
    }

    .cardInfo p {
        font-size: 0.7rem;
        letter-spacing: -0.4px;
    }
}

@media (max-width: 580px) {
    .imageOfLocation {
        height: 225px;
        width: 150px;
    }

    .card {
        width: 85%;
    }

    .cardInfo {
        padding-top: 0px
    }

    .cardInfo p {
        font-size: 0.65rem;
        letter-spacing: -0.4px;
        margin-bottom: 0px;
    }

    .cardInfo h1 {
        font-size: 1.7rem;
        margin-bottom: 0px;
    }

    .cardInfo h3 {
        margin-top: 10px;
        font-size: 0.9rem;
        margin-bottom: 10px;
    }

    .cardInfo a {
        display: block;
    }

    .cardLocation a {
        width: fit-content;
        margin-left: 0px;
    }
}

@media (max-width: 480px) {
    .imageOfLocation {
        height: 225px;
        width: 135px;
    }

    .card {
        width: 90%;
    }

    .cardInfo {
        padding-top: 0px
    }

    .cardInfo p {
        font-size: 0.65rem;
        letter-spacing: -0.4px;
        margin-bottom: 0px;
    }

    .cardInfo h1 {
        font-size: 1.5rem;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .cardInfo h3 {
        margin-top: 6px;
        font-size: 0.8rem;
        margin-bottom: 6px;
    }

    .cardInfo h4 {
        font-size: 0.8rem;
    }

    .locationMarker {
        width: 10px;
    }

    .cardInfo a {
        display: block;
    }

    .cardLocation a {
        width: fit-content;
        margin-left: 0px;
    }
}

@media (max-width: 380px) {
    .imageOfLocation {
        height: 175px;
        width: 105px;
    }
}

